<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Restaurant Apps Starter Project</title>
    </head>
    <body>
        <header>
            <a href="#explore" class="skip-link">Skip to Content</a>
            <!-- menu navigasi -->
            <div class="navigasi">
                <div class="container">
                    <div class="nav-mobile">
                        <button onclick="downMenu()" id="nav-toggle"><span></span></button>
                    </div>
                    <div class="topnav" id="myTopnav">
                        <a href="index.html" class="nav-home">Kulineran Yuk !</a>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><a href="#">Favorit</a></li>
                            <li><a href="https://github.com/fauzan1892">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- menu navigasi -->
        <div class="clearfix"></div>
        <!-- hero banner-->
        <div class="hero-banner" style="background: url('images/heros/hero-image_4.jpg') fixed no-repeat center; background-size: cover;">
            <div class="hero-cover">
                <div class="container">
                    <div class="hero-text">
                        <h1>
                            Ciptakan Momen Kuliner Kamu
                        </h1>
                        <br>
                        <p>
                            Jelajahi dan temukan tempat makan lezat di sekitar Anda, 
                            dari jajanan kaki lima hingga hidangan gourmet masa kini.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- hero banner -->
        <!-- main content -->
        <main>
            <!-- promosi -->
            <div class="promosi">
                <div class="container">
                    <div class="row">
                        <div class="col-6"> 
                            <a href="#topromosi" class="topromosi">
                                <div class="card bg-blue">
                                    <div class="card-body">
                                        <p>Cari Restoran ?</p>
                                        <br>
                                        <h2>
                                            Yuk Kita Cari Kulineran
                                            <br>
                                            dengan Restoran terdekat mu !
                                        </h2>
                                        <br>
                                        <p>Lihat restoran terdekat</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-6"> 
                            <a href="#topromosi" class="topromosi">
                                <div class="card bg-success">
                                    <div class="card-body">
                                        <p>Tidak pakai antri !</p>
                                        <br>
                                        <h2>
                                            Nikmati makanan
                                            <br>
                                            lezat dirumah !
                                            <br>
                                        </h2>
                                        <br>
                                        <p>Lihat restoran dengan layanan pengantaran makanan</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- promosi -->
            <!-- explorer -->
            <div class="explore">
                <div class="container">
                    <h2 class="text-center" id="explore">Explore Restaurant</h2>
                    <br>
                    <div class="clearfix"></div>
                    <div id="explore-restaurants"></div>
                </div>
            </div>
        <!-- explorer -->
        </main>
        <!-- main content -->
        <!-- footer -->
        <footer>
            <div class="footer">
                <div class="container">
                    <p>Copyright &copy; 2021 - Kulineran Yuk ! Apps </p>
                </div>
            </div>
        </footer>
        <!-- footer -->
    </body>
</html>
