<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Restaurant Apps Starter Project</title>
    </head>
    <body>
        <!-- menu navigasi -->
        <div class="navigasi">
            <div class="container">
                <div class="topnav" id="myTopnav">
                    <a href="index.html" class="nav-home">Kulineran Yuk !</a>
                    <ul class="pull-kanan">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="#">Favorit</a></li>
                        <li><a href="https://github.com/fauzan1892">About Us</a></li>
                    </ul>
                </div>
                <div class="nav-mobile">
                    <a  href="javascript:void(0);" onclick="downMenu()" id="nav-toggle"><span></span></a>
                </div>
            </div>
        </div>
        <!-- menu navigasi -->
        <div class="clearfix"></div>
        <!-- main content -->
        <!-- hero banner-->
        <div class="hero-banner">
            <div class="container">
                <div class="row">
                    <div class="col-6"> 
                        <div class="hero-text">
                            <h1>
                                Ciptakan Momen Kuliner Kamu
                            </h1>
                            <br>
                            <p>
                                Jelajahi dan temukan tempat makan lezat di sekitar Anda, 
                                dari jajanan kaki lima hingga hidangan gourmet masa kini.
                            </p>
                        </div>
                        <br>
                    </div>
                    <div class="col-6"> 
                        <img src="./images/heros/hero-image_1.jpg" class="img-rounded" alt="foto banner">
                    </div>
                </div>
            </div>
        </div>
        <!-- hero banner -->
        <!-- promosi -->
        <div class="promosi">
            <div class="container">
                <div class="row">
                    <div class="col-6"> 
                        <div class="card bg-blue">
                            <div class="card-body">
                                <p>Cari Restoran ?</p>
                                <br>
                                <h2>
                                    Yuk Kita Cari Kulineran
                                    <br>
                                    dengan Restoran terdekat mu !
                                </h2>
                                <br>
                                <p>Lihat restoran terdekat</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-6"> 
                        <div class="card bg-success">
                            <div class="card-body">
                                <p>Tidak pakai antri !</p>
                                <br>
                                <h2>
                                    Nikmati makanan
                                    <br>
                                    lezat dirumah !
                                    <br>
                                </h2>
                                <br>
                                <p>Lihat restoran dengan layanan pengantaran makanan</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- promosi -->
        <!-- explorer -->
        <div class="explore">
            <div class="container">
                <h2 class="text-center">Explore Restaurant</h2>
                <br>
                <div class="clearfix"></div>
                <div id="explore-restaurants"></div>
            </div>
        </div>
        <!-- explorer -->
        <!-- main content -->
        <!-- footer -->
        <div class="footer">
            <div class="container">
                <p>Copyright &copy; 2021 - Kulineran Yuk ! Apps </p>
            </div>
        </div>
        <!-- footer -->
    </body>
</html>
