<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Restaurant Apps Starter Project</title>
    </head>
    <body>
        <!-- menu navigasi -->
        <div class="navigasi">
            <div class="container">
                <div class="topnav" id="myTopnav">
                    <a href="index.html">Cari Restoran Yuk !</a>
                    <ul class="pull-kanan">
                        <li><a href="index.html" class="active">Home</a></li>
                        <li><a href="#about">Favorit</a></li>
                        <li><a href="#find-me">About Us</a></li>
                    </ul>
                </div>
                <div class="nav-mobile">
                    <a  href="javascript:void(0);" onclick="downMenu()" id="nav-toggle"><span></span></a>
                </div>
            </div>
        </div>
        <!-- menu navigasi -->
    </body>
</html>
